@media screen and (min-width: 1440px) {

	#container {
		min-width: 1440px;
	}

	/*.description-numbers {
		justify-content: center;
	}*/

	.description {
    width: 662px;
	}

	.numbers-items {
    width: 388px;
	}

	.side-margin-desktop {
		margin-right: 180px;
		margin-left: 180px;
	}

	.team-text {
		width: 658px;
	}

	.team-title {
		width: 362px;
	}

	.carousel-item {
		width: 300px;
		height: 110px;
	}


	/*Contact*/

	.contact-main {
		margin: 60px 180px;
	}

	.contacts-wrap, .form {
		width: 510px;
	}


}