@media screen and (min-width: 768px) {

	#container {
		min-width: 768px;
	}

	.side-margin {
		margin-right: 60px;
		margin-left: 60px;
	}

	/*Header*/

	.header-address-text,
	.icon-facebook-header,
	.dot,
	.nav {
		display: inline-block;
	}

	.header {
		margin-top: 50px;
	}

	.header-lang-contacts {
		background: #fff;
		justify-content: flex-start;
	}

	.header-address-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color: #B3B3BA;
	}

	.header .icon-facebook:before {
		font-size: 24px;
		color: #B3B3BA;
	}

	.header .icon-facebook:hover::before {
	font-size: 28px;
	}

	.dot {
		width: 6px;
		height: 6px;
		background: #E6E6F0;
		border-radius: 50%;
	}

	.header-contacts {
		height: 24px;
		width: 376px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.burger-icon {
		display: none;
	}

	.logo svg {
		width: 130px;
		height: 60px;
	}

	.logo svg:hover {
		width: 145px;
		height: auto;
	}

	.slash svg {
		width: 21px;
		height: 47px;
	}

	h1 {
		font-size: 36px;
		line-height: 44px;
	}

	.logo-title {
		margin: 30px 0;
	}

	.header-logo-burger {
		height: auto;
		flex-direction: column;
		align-items: flex-start;
	}

	.nav-items {
		width: 416px;
		height: 25px;
		display: flex;
		justify-content: space-between;
	}

	.nav-item-link {
		font-weight: 700;
		font-size: 16px;
		color: #24A3FF;
	}

	.nav-item:hover .nav-item-link {
		color: #F0145A;
		border-bottom: solid 2px #F0145A;;
	}

	/*Numbers*/
	.description-numbers {
		margin: 60px 60px;
	}

	h2 {
		font-size: 38px;
		line-height: 46px;
	}

	/*Team*/

	.team-pic-wrap {
		min-width: 100%;
	}

	.team-pic {
		width: 100%;
	}

	.team-description {
		margin-top: 60px;
	}

	/*Achievements*/

	.achievements {
		background: #F5F5FA;
		width: 100%;
	}

	.carousel {
		width: 100%;
		margin: 0 auto;
	}

	.carousel-item {
		width: 132px;
		height: 90px;
	}

	.slick-initialized .slick-slide {
		margin-right: 40px;
		padding: 25px 10px;
	}

	.carousel-img {
		height: 100%;
		width: auto;
		overflow: hidden;
	}

	/*Footer*/

	.footer {
		height: 191px;
	}

	.footer-address-contacts {
		height: 79px;
		align-items: flex-start;
	}

	.footer-address,
	.footer-contacts {
		flex-direction: row;
	}

	.footer-address {
		width: 285px;
	}

	.footer-contacts {
		width: 398px;
		height: auto;
	}

}