* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

#container {
	min-width: 375px;
	margin: 0 auto;
	position: relative;
}

.header-address-text,
.icon-facebook-header,
.dot,
.nav {
	display: none;
}

/*Header*/

.menu-open-header {
	background: #323264;
	min-height: 322px;
	width: 0;
	position: absolute;
	top: 0;
	right: 0;
	transition: width 0.5s ease;
}

.header-lang-contacts {
	display: flex;
	justify-content: space-between;
	height: 45px;
	padding: 10px 15px;
	background: #F5F5FA;
}

.lang {
	display: flex;
	width: 99px;
}

.lang-item {
	width: 33px;
	height: 25px;
	border-radius: 8px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lang-item:hover {
	background: #F0145A;
}

.lang-item:hover .lang-item-link {
	color: #fff;
}

.lang-item-link {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	color: #B3B3BA;
}

.header-tel {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #B3B3BA;
}

.header-tel:hover {
	color: #000;
}

.header-logo-burger {
	height: 57px;
	padding: 0px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-title {
	display: flex;
}

.logo svg:hover {
	width: 75px;
	height: auto;
}

.logo svg {
	transition: width 0.5s;
}

h1 {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #323264;
}

/*Burger*/

.burger-icon {
	width: 25px;
	height: 18px;
	border: none;
	background: none;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.burger-icon-inner,
.burger-icon:before,
.burger-icon:after {
	content: "";
	display: block;
	width: 25px;
	height: 4px;
	background: #000;
}

/*Menu open*/

.menu-open .menu-open-header {
	width: 100%;
}

.menu-open .burger-icon:before {
	transform: translateY(7px) rotate(45deg)
}

.menu-open .burger-icon:after {
	transform: translateY(-7px) rotate(-45deg);
}

.menu-open .burger-icon-inner {
	display: none;
}

.menu-open .burger-icon:before,
.menu-open .burger-icon:after {
	background: #fff;
}

.menu-open .burger-icon,
.menu-open .logo {
	z-index: 10;
}

.menu-open .logo path {
	fill: #fff;
}

.menu-open .logo path:first-child {
	fill: #F0145A;
}

.menu-open .nav {
	display: block;
    height: 160px;
    width: 104px;
    position: absolute;
    top: 115px;
    left: 50%;
    transform: translateX(-50%);
}

.menu-open .nav-items {
	display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu-open .nav-item-link {
	font-weight: 700;
	font-size: 16px;
	color: #fff;
}

.menu-open .nav-item:hover .nav-item-link{
	color: #F0145A;
}

/*Numbers*/

.description-numbers {
	margin: 30px 30px;
}

h2 {
	font-weight: 700;
	font-size: 30px;
	line-height: 37px;
	background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.description-text, .team-text-item {
	margin: 30px 0;
	font-weight: 400;
	font-size: 19px;
	line-height: 30px;
}

.numbers-items {
	height: 322px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-left: solid 4px #E6E6F0;
	padding-left: 30px;
}

[class^="icon-"] {
	font-size: 25px;
	margin-right: 12px;
}

.icon-bag {
	font-size: 20px;
}

.numbers-item-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 10px;
	display: inline;
}

.numbers-description {
	font-size: 16px;
	line-height: 20px;
	color: #323264;
}

/*Team*/

.team-description {
	margin: 30px 30px 60px 30px;
}

.team-text-item:first-child {
	margin-top: 0;
}

.team-pic-wrap {
	min-width: 375px;
}

.team-pic {
	width: 100%;
}

/*Achievements
*/
.achievements {
	height: 243px;
	background: #F5F5FA;
	padding: 30px 60px;
}

.achievements-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #323264;
}

.carousel-item {
	margin: 30px 0;
	width: 255px;
	height: 90px;
	background: #FFFFFF;
	border-radius: 12px;
}

.slick-initialized .slick-slide {
	display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots li button:before {
	font-size: 50px;
	opacity: .2;
    color: #24A3FF;
}

.slick-dots li.slick-active button:before {
	color: #24A3FF;
	opacity: 100%;
}

/*Footer*/

.footer {
	background: #F5F5FA;
	padding: 0 30px 30px 30px;
	height: 276px;
}

.footer-inner {
	border-top: solid #E6E6F0 2px;
	padding-top: 30px;
	height: 100%;
}

.footer-address,
.footer-contacts,
.footer-address-contacts,
.footer-inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.footer-address-contacts {
	height: 164px;
}

.footer-address {
	height: 45px;
}

.footer-address-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #323264;
}

.map-link {
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #24A3FF;
}

.map-link:hover {
	font-size: 14px;
}

.footer-contacts {
	height: 98px;
}

.footer .icon-facebook:before {
	font-size: 38px;
	color: #24A3FF;
}

.footer .icon-facebook:hover::before {
	font-size: 42px;
}

.footer-tel {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #46466E;
}

.footer-tel:hover {
	font-size: 18px;
}

.footer-email {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #24A3FF;
}

.footer-email:hover {
	font-size: 18px;
}

.map-link, .footer-tel, .footer-email, .icon-facebook:before {
	transition: font-size 0.5s;
}

.footer-copyright-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #B3B3BA;
}





/*Contact*/



/*Contacts-wrap*/

.contact-main {
	margin: 30px 30px;
}

.address span {
	display: block;
}

.address, .tel, .email {
	font-weight: 400;
	font-size: 21px;
	line-height: 30px;
	transition: font-size 0.5s;
}

.tel:hover, .email:hover {
	font-size: 24px;
}

.address {
	color: #323264;
}


.tel-email {
	margin: 30px 0;
	padding: 30px 0;
	border-top: solid 4px #E6E6F0;
	border-bottom: solid 4px #E6E6F0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 135px;
}

.tel {
	color: #46466E;
}

.email {
	color: #24A3FF;
}

.contact-main .icon-facebook {
	margin-right: 10px;
}

.contact-main .icon-facebook:before {
	font-size: 38px;
	color: #24A3FF;
}

.social-text {
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #24A3FF;
}

.social-text span {
	display: block;
}

.social {
	display: flex;
	align-items: center;
}

.social:hover .icon-facebook:before,
.social:hover .social-text {
	color: #46466E;
}

/*Form*/

.form {
	margin-top: 30px;
	padding: 30px 30px;
	background: #F5F5FA;
	border-radius: 12px;
}

.form div {
	margin: 30px 0;
}

.form input,
.form textarea {
	border-width: 0;
	border-radius: 8px;
	width: 100%;
	padding: 15px 15px;
}

.form input::placeholder,
.form textarea::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #B3B3BA;
}

.form input {
	height: 56px;
}

.textarea {
	height: 130px;
}

.form-name-message,
.form-tel-email {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.form-name-message {
	height: 201px;
}

.form-tel-email {
	height: 159px;
}

.form-subtitle {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #B3B3BA;
}

.send {
	width: 100%;
	height: 56px;
	background: #24A3FF;
	box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
	border-radius: 12px;
	border-width: 0;
}

.button-send-text {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}

